#define SMOKER_CREDENTIALS 
// You should get Auth Token in the Blynk App.
// Go to the Project Settings (nut icon).
#define SMOKER_BLYNK_AUTH_TOKEN "***"

// Your WiFi credentials. 
#define WIFI_SSID "***"
#define WIFI_PASS "***"
